<main>
    <div class="details-container">
        <div class="details-container-image">
            <img src="{{image}}">
        </div>
        <div class="details-container-info">
            <h2>{{title}}</h2>
            <h3>{{category}}</h3>
            <h3>By: {{ownerEmail}}</h3>
            {{#if followingEmails}}
            <!--If there are followers-->
            <h4>Follow By: {{followingEmails}}</h4>
            {{else}}
            <!--If there are no followers-->
            <h4>There are no followers yet!</h4>
            {{/if}}
        </div>
        <div class="details-container-content">
            <p>{{content}}</p>
        </div>
        <div class="btn-container">
            {{#if user}}
            {{#if isOwner}}
            <!-- Only for registered user and creator of the blog post-->
            <a href="/blog/{{_id}}/edit">Edit</a>
            <a href="/blog/{{_id}}/delete">Delete</a>
            {{else}}
            {{#if isFollowing}}
            <!-- logged in user who has already followed the blog-->
            <p class="follow-pub">You already follow this blog!</p>
            {{else}}
            <!-- logged in user who has not yet followed the blog-->
            <a href="/blog/{{_id}}/follow">Follow</a>
            {{/if}}
            {{/if}}
            {{/if}}

        </div>
    </div>
</main>